@import "~bootstrap/scss/bootstrap";
$color-fondo: rgb(0, 153, 255);
$color-texto: white;
body {
  @if 2 < 1 {
    background-color: $color-fondo;
  }
  @else {
    background-color: $color-fondo;
  }
}